<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.care_mobile_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Care_Mobile_App">
        <activity

            android:name=".CareAdminDocViewlRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".CareUserDocViewlRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".CareUsersSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".CareUsersSignInActivity"

            android:exported="false" />
        <activity
            android:name=".DoctorRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>